* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
}

h1,
h2,
p,
span {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

#search-form {
  position: relative;
}

#search-form img {
  position: absolute;
  top: 5px;
  right: 35px;
  height: 25px;
}

h1 {
  font-size: 75px;
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

#on-icon {
  position: relative;
  left: 650px;
  bottom: 155px;
}

#degree {
  position: relative;
  left: 35px;
  font-size: 60px;
  font-weight: bold;
  color: #000000;
}

#degree-symbol {
  font-size: 40px;
  position: relative;
  bottom: 25px;
  left: 35px;
  color: #000000;
}

#locate-me {
  height: 25px;
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.button {
  position: relative;
  left: 45px;
}

button {
  background: none;
  border: none;
  font-size: 25px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  color: #000000;
}

#celsius {
  padding-right: 5px;
}
#farenheit {
  border-left: 1px solid #000;
  padding-left: 5px;
}
#forecast {
  position: relative;
  bottom: 50px;
  font-size: 20px;
  font-weight: 400;
}

#time {
  font-size: 25px;
  font-weight: 600;
}

#inner {
  padding-bottom: 10px;
}

#text {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px;
}

#description {
  text-transform: capitalize;
  font-weight: bold;
}
img.grass {
  width: 100vw;
  height: 30%;
  position: fixed;
  bottom: 0;
}

img.menu {
  width: 50px;
  height: 50px;
  margin-left: 25px;
  opacity: 0.75;
  margin-right: 100px;
}

#icon {
  width: 200px;
  height: 200px;
  justify-content: center;
}

input {
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
}

div.weather {
  justify-content: center;
}

div.arrows {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

#left-arrow {
  width: 50px;
  height: 80px;
  margin-left: 400px;
}

#right-arrow {
  width: 50px;
  height: 80px;
  margin-right: 400px;
}

.animation-icon {
  width: 175px;
  z-index: -1;
}

#one {
  position: fixed;
  top: 100px;
  left: 50px;
  opacity: 0.5;
}

#two {
  position: fixed;
  top: 300px;
  left: 175px;
  opacity: 0.25;
}

#three {
  position: fixed;
  top: 160px;
  right: 50px;
  opacity: 0.75;
}

#four {
  position: fixed;
  top: 275px;
  right: 100px;
  opacity: 0.35;
}

#open {
  margin-top: 50px;
  z-index: 50;
}

#hidden-time {
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif;
}

footer {
  position: relative;
  text-align: center;
  z-index: 5;
  padding-bottom: 15px;
  padding-top: 75px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 20px;
}

footer a {
  color: white;
}
