* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to top, #7aadff#7aadff 0%, #c2e9fb 100%);
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.row {
  width: 100vw;
}

header {
  min-height: 10vh;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 25px;
}

button {
  background: none;
  border: none;
}

button:disabled {
  color: #000;
  font-weight: bold;
}

.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 15px 10px;
  color: #7aadff;
}

.Field {
  width: 100%;
  padding: 10px;
}

form {
  position: relative;
  width: 100%;
  max-width: 600px;
}

input {
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 50px;
}
.container-fluid {
  position: relative;
}

.main-content {
  height: 90vh;
  position: relative;
  z-index: 1060;
}

.display-test {
  display: none;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

.arrows {
  font-size: 5rem;
  color: #fff;
}

#icon {
  height: auto;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

.illustrated-forecast {
  position: relative;
}

.temperature {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
}

#degree {
  font-size: 4rem;
  font-weight: bold;
  color: #000;
}

#degree-symbol {
  font-size: 2rem;
  vertical-align: top;
  color: #000;
}

#description {
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  height: 25vh;
}

.temperature span {
  color: #000;
}

.animation-icon {
  width: 175px;
}

.grass {
  width: 100%;
  max-height: 20vh;
}

#one {
  position: fixed;
  top: 100px;
  left: 50px;
  opacity: 0.5;
}

#two {
  position: fixed;
  top: 300px;
  left: 175px;
  opacity: 0.25;
}

#three {
  position: fixed;
  top: 160px;
  right: 50px;
  opacity: 0.75;
}

#four {
  position: fixed;
  top: 275px;
  right: 100px;
  opacity: 0.35;
}

#locate {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}
.buttons {
  margin: -10px;
  font-size: 2rem;
}

.forecast {
  margin: 25px 0;
}
footer {
  position: fixed;
  z-index: 1040;
}

footer a {
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  .location-text {
    font-size: 1.25rem;
  }

  @media only screen and (max-width: 576px) {
    h1 {
      font-size: 4rem;
      color: #000;
    }

    h2 {
      font-size: 1.5rem;
      color: #000;
    }

    #description {
      font-size: 1.25rem;
    }

    #description2 {
      font-size: 1.25rem;
    }

    footer {
      font-size: 1rem;
    }

    .arrows {
      font-size: 3rem;
    }

    .icon {
      color: #000;
    }

    #degree {
      font-size: 3.5rem;
    }

    #degree-symbol {
      font-size: 2rem;
    }

    .buttons {
      font-size: 1.5rem;
    }

    .temperature {
      height: 150px;
    }
  }

  @media only screen and (max-width: 450px) {
    .temperature {
      top: 30%;
    }
  }

  @media only screen and (max-width: 350px) {
    .temperature {
      top: 25%;
    }
  }

  @media only screen and (max-width: 325px) {
    header {
      visibility: hidden;
    }

    .main-content {
      display: none;
    }

    .test3 {
      height: 100vh;
    }

    .test3 {
      position: relative;
    }

    .display-test {
      position: relative;
      z-index: 1050;
      display: block;
      color: #000;
      padding: 10px;
    }
  }

  @media only screen and (max-height: 800px) {
    .main-content{
      height: 80vh;
    }
  }

  @media only screen and (max-height: 625px) {

    .main-content{
    height: 60vh;
  }
}
